PROVIDER=Azure
QUEUECONNECTION=xxx
STORAGECONNECTION=xxx
SANATIZATION_REQ_TOPIC=xxx
SANATIZATION_REQ_SUB=xxx
SANATIZATION_RES_TOPIC=xxx
CONTAINER_NAME=osw
MAX_CONCURRENT_MESSAGES=1
MAX_RECEIVABLE_MESSAGES=-1
